.login-container{
  background-image: url(imagenes/tienda7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.h3-1{
  font-family: "Playfair Display", serif;
  font-size: 50px;
  text-align: center;
  text-transform: capitalize;
}
.h3-2{
  font-family: "Playfair Display", serif;
  margin-left: 70px;
}
.p-1{
  font-family: "Playfair Display", serif;
  text-align: center;
}
.p-1 i{ 
    font-size: 25px;
}

.conten-img{
    justify-content: center;
    align-items: center;
    margin: 30px;
    margin-left: 65px;
    margin-bottom: 40px;
    display: flex;
}
.img-tienda2{
    width: 500px;
    height: 400px;
}

@media (max-width: 768px){
    .conten-img{
      flex-direction: column;
      margin-left: 0;
    }
    .h3-2{
        margin-left: 20px;
    }
}
