
.carousel-inner{
    background-color: #82E0AA;
    text-align: center;
}
button:hover{
    background-color: transparent;
}
.p-carrusel{
    font-size: 15px;
}
.carousel-item{
    line-height: 25px;
}
.carusel-nombre{
    height: 30px;
}