.container-item{
    margin-top: 50px;
    max-width: 400px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.producto-table th, .producto-table td {
    padding: 5px;
    text-align: center;
    border: 1px solid #82E0AA;
    font-size: 10px;
}
.producto-table {
    width: 70%;
    border-collapse: collapse;
    margin: 10px 0;
}
.producto-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.img-product-car{
    width: 50px;
    height: auto;
}
.btn-pagar{
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(43, 41, 41);
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.btn-pagar:hover{
    background-color: blue;
}
button:hover{
    background-color: black;
}

.precio-car{
   margin: 7px;
   font-size: 11px;
   margin-left: 15px;
   color: rgb(15, 94, 4);
   font-weight: bold;
}
h6{
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(15, 94, 4);
}
.container-btn-contador{
    display: flex;
}
.btn-cantida{
    margin: 0 5px 0 5px;
    padding: 5px;
    font-weight: bold;
    font-size: 25px;
    color: blue;
    cursor: pointer;
}
.btn-cantida:hover{
   color: green;
}
.cantida{
    font-size: 15px;
    font-weight: bold;
}
.remover{
    cursor: pointer;
    text-transform: capitalize;
    font-size: 12px;
}
.remover:hover{
    color: red;
}
.cart-vacio{
    margin: auto;
    display: block;
    width: 200px;
}
.total{
    color: green;
}
@media (max-width: 768px){
    .container-item{
        margin-top: 50px;
        min-height: 300px;
        
    }
    .producto-table{
        width: 62%;
    }
    .img-product{
        width: 140px;
        height: 140px;
        padding: 12px;
        margin-top: 10px; 
    }
    h6{
        display: flex;
        justify-content: center;
    }
    .nombre{
        margin: 3px ;
        font-size: 12px;
        font-weight: bold; 
     }
     .precio{
         margin: 3px;
        font-size: 150px;
     }
     .remover{
        font-size: 12px;
     }
     .btn-pagar{
        width: 250px;
        font-size: 14px;
        padding: 8px;
     }
}