body{
    font-family: sans-serif;
}
  
.container-form{
  background: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
}
h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333;
}
label {
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  color: #555;
}
  
.btn-login {
  margin-top: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: background 0.3s;
}

.btn-login:hover {
  background-color: #0056b3;
}
input{
  padding: 10px;
  margin-top: 5px;
  font-size: 1rem;
  width: 100%;
  transition: .3s ease all;
  border: 1px solid transparent;
  &:focus{
    border: 1px solid rgb(14, 39, 224);
    outline: none;
    box-shadow: 3px 0 30px rgba(163, 163, 163,0.4);
  }
    
}
  
p{
  text-align: center;
  font-size: 10px;
}
a{
  color: blue;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
span{
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}
@media (max-width: 768px) {
  .container-form {
    width: 90%;
    padding: 1.5rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  input {
    font-size: 0.9rem;
    padding: 8px;
  }

  .btn-login {
    font-size: 0.9rem;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: 10px;
  }

  .container-form {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
  }

  h4 {
    font-size: 1.2rem;
  }

  input {
    font-size: 0.85rem;
    padding: 7px;
  }

  .btn-login {
    font-size: 0.85rem;
    padding: 7px;
  }
}
