body{
    font-family: sans-serif;
  }
  
  .img-logo{
    margin: auto;
    display: block;
    width: 70px;
  }
  
  .container-form{
    margin: 100px auto;
    border: none;
    border-radius: 10px;
    background-color: #ccc;
    max-width: 300px;
    padding: 50px;
  }
.form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    @media (max-width: 800px){
      grid-template-columns: 1fr;
    }
  }
  label{
    display: block;
    font-weight: 700;
    padding: 5px;
    min-width: 25px;
    cursor: pointer;
    font-size: 10px;
  }
  
  .btn-login{
    margin-top: 10px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    
    }
    .btn-login:hover{
        background-color: blue;
    }
  input{
    width: 100%;
    border-radius: 3px;
    height: 35px;
    line-height: 40px;
    padding: 0 30px 5px;
    transition: .3s ease all;
    border: 1px solid transparent;
    &:focus{
        border: 1px solid rgb(14, 39, 224);
        outline: none;
        box-shadow: 3px 0 30px rgba(163, 163, 163,0.4);
    }
    
  }
  
  p{
    text-align: center;
    font-size: 10px;
  }
  a{
   color: blue;
   text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  span{
    color: red;
  }
  @media (max-width: 600px){
    .container-login{
      margin: 10px;
    } 
    .container-form{
      border: none;
      background-color: #ccc;
      max-width: 400px;
      padding: 50px;
      margin: 0; 
      border-radius: 0%;
      height: 100%;
    }
      
}
