/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container-fluid {
    margin-top: 20px;
    padding: 0 10px;
  }
  
 
.product-1{
    align-items: center;
    justify-content: center;
    width: 250px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 17px;
}
.img-product{
   width: 100%;
    height: auto;
    padding: 3px;
    margin: auto;
    display: block;
}
.info-product{
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-1:hover .img-product{
    transform: scale(1.1);
    box-shadow: 0 transparent;
}

h4{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.descrip{
    font-size: 12px;
}
.odp{
    font-size: 15px;
    font-weight: bold;
    color: rgb(15, 94, 4);
}
.btn-add{
    border: none;
    padding: 7px;
    border-radius: 10px;
    background-color: #82E0AA;
    font-size: 12px;
    font-weight: bold;
}
.btn-add:hover{
    background-color: blue;
}
/* Responsive Styles */
@media (max-width: 768px) {
    .product-1 {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    
    h4 {
      font-size: 16px;
    }
  
    .btn-add {
      font-size: 14px;
      padding: 12px;
    }
  }
  
  @media (max-width: 576px) {
    
    .product-1 {
      width: 90%;
    }
    
    .img-product {
      width: 100%;
      height: auto;
    }
    
    h4 {
      font-size: 14px;
    }
    
    .descrip {
      font-size: 12px;
    }
  }